body {
    background-color: #9D2D30;
    font-family: 'Orbitron', sans-serif;
}

.app {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 300px;
    margin: 5% auto 0 auto;
    border: 2px solid #C34D4B;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    cursor: default;
}

.timer {
    font-size: 42px;
    color: #C34D4B;
}

.timer span {
    font-weight: 800;
}

.button {
    border: 2px solid white;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.timerTitle {
    font-size: 32px;
    color: #C34D4B;
    font-weight: 800;
}

.increaseMinBtn, .decreaseMinBtn, .increaseSecBtn, .decreaseSecBtn {
    border: 1px solid transparent;
    margin: 10px 23px;
    width: 50px;
    font-size: 28px;
}

.increaseMinBtn:hover, .decreaseMinBtn:hover, .increaseSecBtn:hover, .decreaseSecBtn:hover {
    border-color: white;
}

.startBtn {
    width: 200px;
    font-size: 22px;
    padding: 10px;
    margin: 15px auto 0 auto;
    display: block;
}

.workBtn, .breakBtn, .resetBtn, .defaultBtn {
    width: 90px;
    margin: 20px 10px;
    padding: 5px;
}

.startBtn:hover, .workBtn:hover, .breakBtn:hover, .resetBtn:hover, .defaultBtn:hover {
    background-color: white;
    color: #9D2D30;
}

.inactive {
    border-color: #C34D4B;
    color: #BE2D30;
}
.inactive:hover {
    background-color: #9D2D30;
    border-color: #C34D4B;
    color: #BE2D30;
}

.active {
    color: white;
}
